/* Контейнер с сообщениями растягиваем на всю доступную область */
.message-list {
    flex: 1;
    padding: var(--gap-2);
    overflow-y: auto;
    scrollbar-gutter: stable;
    overscroll-behavior: contain;
}


.message {
    /* Цвета фона сообщения */
    --bg-message:        #280B0B;
    --bg-message-from-me: var(--red-dark);

    width: fit-content;
    max-width: 430px;
    padding: var(--gap-3);
    border-radius: 16px 16px 16px 4px;
    background-color: var(--bg-message);
    position: relative;
    user-select: text;
}

/* Если сообщение fromMe */
.message.message--from-me {
    background-color: var(--bg-message-from-me);
}

/* Время отправки сообщения и статус прочтения */
.message__meta {
    justify-content: flex-end;
    align-items: center;
}


/* Выделение сообщений */
.message-list--selecting {
    user-select: none;
}

.message-list--selecting * {
    user-select: none;
}

/* Если сообщение выделено */
.message.message--selected {
    background-color: #841219;
}

/* Значок выделенного сообщения */
.message__selected {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
}