.chat {
    padding: var(--gap-3);
    text-align: left;
}

/* Подчеркивание кнопки при наведении */
@media (hover: hover) {
    .chat:is(:hover, :focus-visible) { background-color: var(--bg-accent); }
}

@media (hover: none) {
    .chat:active { background-color: var(--bg-accent); }
}

.chat.active {
    background-color: var(--bg-dark-red);
}