.chat-list__item {
    padding: var(--gap-3);
    text-align: left;
}

/* Подсвечиваем кнопки при наведении */
@media (hover: hover) {
    .chat-list__item:is(:hover, :focus-visible) { background-color: var(--bg-accent); }
}

@media (hover: none) {
    .chat-list__item:active { background-color: var(--bg-accent); }
}

.chat-list__item.active {
    background-color: var(--bg-dark-red);
}