.login {
    width: 448px;
    padding: var(--gap-8);
    background-color: var(--bg-secondary);
    border-radius: 32px;
    border-right: 1px var(--border-accent) solid;
}

.login__top {
    margin-bottom: var(--gap-8);
}

.login__icon {
    width: 96px;
    height: 96px;
    border-radius: 48px;
    background-color: var(--bg-light-red);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.login h1 {
    margin-bottom: var(--gap-2);
}