:root {
    --input-background: #301615;
    --input-border: #561e1e;
    --input-focus-border: #F5F5F5;
    --input-error-border: #D60027;
    --range-thumb: #999999;

    /* Высота инпута */
    --input-height: 40px;
    --input-height-big: 48px;
}

/* Основные стили для инпута и textarea */
:where(input[type="text"], input[type="email"], input[type="password"], textarea, .textarea) {
    display: block;
    width: 100%;
    height: var(--input-height);
    padding: var(--gap-1); /* Вертикальный отступ больше */

    outline: transparent;
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: var(--border-radius);

    color: var(--text-white);
    font-size: var(--fs-medium);
    line-height: 1.5;
    text-decoration: none;
    transition: all 0.15s ease;
}

/* Только textarea */
textarea {
    height: calc(var(--input-height) * 3); /* Высота по умолчанию */
    min-height: var(--input-height); /* Минимальный размер равен размеру инпута */
    max-height: calc(var(--input-height) * 6); /* Максимальный размер */
    resize: vertical; /* Растягивание только по вертикале */
}

/* Текстовый блок под textarea */
.textarea {
    height: auto;
    padding: var(--gap-1);
    white-space: pre-wrap;
    color: var(--text-light);
    cursor: not-allowed;
}

/* read-only / disabled input */
:where(input[type="text"], input[type="email"], input[type="password"]):is(:read-only, :disabled) {
    color: var(--text-gray);
    cursor: not-allowed;
}

/* read-only / disabled textarea */
textarea:is(:read-only, :disabled) {
    height: auto;
    min-height: var(--input-height);
    max-height: unset;
    resize: none; /* Отключаем растягивание */
    color: var(--text-gray);
    cursor: not-allowed;
}

/* focus только для изменяемых */
:where(input[type="text"], input[type="email"], input[type="password"], textarea):not(:read-only):focus {
    border-color: var(--input-focus-border);
    outline: 1px solid var(--input-focus-border);
}

/* focus для read-only */
:where(input[type="text"], input[type="email"], input[type="password"], textarea):read-only:focus {
    border-color: var(--input-border);
    outline: 1px solid var(--input-border);
}

/* Ошибка */
:where(input[type="text"], input[type="email"], input[type="password"], textarea).error {
    border-color: var(--input-error-border);
    outline: 1px solid var(--input-error-border);
}

/* placeholder */
:where(input[type="text"], input[type="email"], input[type="password"], textarea)::placeholder {
    color: var(--text-gray);
}

/* Фикс подсветки autofill (авто ввод) */
:where(input[type="text"], input[type="email"], input[type="password"], textarea):is(:-webkit-autofill, :-webkit-autofill:focus) {
    transition: background-color 600000s 0s, color 600000s 0s;
}