.button.ui-button {
    width: fit-content; /* Ширина кнопки зависит от контента и обтягивает его*/
    min-width: var(--button-height); 
    gap: var(--gap-1);
}

/* Иконка в кнопке чуть меньше кнопки */
.button.ui-button img {
    width: 24px;
    height: 24px;
}

/* Большая кнопка */
.button.ui-button.button--big { height: var(--button-height-big); }

/* Во всю ширину контейнера */
.button.ui-button.button--width100 { width: 100%; }

/* Контент кнопки слева, а не по центру */
.button.ui-button.button--atStart { justify-content: flex-start; }

/* Модификатор для мобильного скрытия текста */
@media screen and (max-width: 400px) { 
    .button.ui-button.button--phoneTextHide span { display: none; }
}

/* Анимация вращения иконки загрузки */
.spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}