/* Текст ошибки под инпутом */
.input-error, .form-error {
    color: var(--text-accent);
    font-size: var(--fs-small);
}

.ui-text-input {
    width: 100%;
    height: var(--input-height);
    position: relative;
}

.ui-text-input .input-image {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-40%)
}

/* Делаем высоту инпута равной высоте обвертки и даем пространство для картинки */
.ui-text-input input:is([type="text"], [type="email"], [type="password"]) {
    height: 100%;
    padding: 12px 12px 12px 44px;
}

/* Большой инпут */
.ui-text-input.input--big { height: var(--input-height-big); }