/* Заголовок инпута */
.input-label {
    font-size: var(--fs-small);
    margin-bottom: var(--gap-1);
}

/* Текст ошибки под инпутом */
.input-error, .form-error {
    color: var(--text-accent);
    font-size: var(--fs-small);
}

/* Блок с input-wrapper и span */
.ui-text-input {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
}

/* Блок с инпутом */
.ui-text-input .input-wrapper {
    width: 100%;
    height: var(--input-height);
    position: relative;
}

/* Делаем высоту инпута равной высоте обвертки */
.ui-text-input .input-wrapper input {
    height: 100%;
    padding: 12px;
}

/* Иконка слева от инпута */
.ui-text-input .input-wrapper .input-image {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-40%)
}

/* Если есть картинка даем пространство для картинки */
.ui-text-input.input--withImage .input-wrapper input { padding-left: 44px; }

/* ----- Модификаторы ----- */

/* Большой инпут */
.ui-text-input.input--big .input-wrapper { height: var(--input-height-big); }

/* Скругленный инпут */
.ui-text-input.input--round .input-wrapper,
.ui-text-input.input--round .input-wrapper input { border-radius: var(--input-height-big); }

/* Во всю ширину контейнера */
.ui-text-input.input--width100 { width: 100%; }

.ui-text-input.input--withoutBorder input {
    border: none;
    outline: none;
}