:root {
    --white:      #FFFFFF;
    --light:      #F5F5F5;

    --gray-light: #F5F5F5B6;
    --gray-dark:  #7E6f6E;

    --brown:      #9E7878;
    --black:      #000000;

    --red-light:  #EE3F48;
    --red:        #841218;
    --red-dark:   #601012;
}